:root{
    --blue: #0079C1;
    --dark-blue: #314163;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 550px;
    margin: auto;
}

main p{
    font-family: 'Oswald', sans-serif;
    color: var(--dark-blue);
    font-weight: 800;
    font-size: 22px;
}

p{
    color: var(--dark-blue);
    font-family: 'PT Serif', serif;
}

a{
    text-decoration: none;
    color: black;
}

h1, h2, h3{
    font-family: 'Oswald', sans-serif;
    color: var(--dark-blue);
}

footer{
    background-color: var(--blue);
}
/*NAVBAR----------*/

/*CONTENT---------*/
.container{
    width: 550px;
    margin: auto;
    display: flex;
}

.conteudo{
    margin-top: 50px;
}

.conteudo h1{
    margin: 0px 0 35px 0;
    font-size: 50px;
}

.conteudo h2{
    margin-bottom: 30px;
    font-size: 35px;
}

.conteudo h3{
    font-size: 22px;
    margin-bottom: 10px;
}

.conteudo p{
    font-size: 19px;
    margin-bottom: 30px;
}



/*FORM----------*/
form{
    overflow: auto;
}

label{
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    color: var(--dark-blue);
}

#div-form{
    border: 1px var(--dark-blue) solid;
    padding: 15px;
}

.input-text{
    width: 100%;
    font-size: 18px;
    line-height: 29px;
    padding-left: 5px;
    background-color: #E8F8FF;
    border-radius: 5px;
    border: var(--dark-blue) solid 1px;
}

.input-left{
    float: left;
    width: 40%;
}

.input-right{
    float: right;
    padding-left: 15px;
    width: 60%;
}

.curriculo{
    border: 15px #E8F8FF solid;
    background-color: #E8F8FF;
    margin-bottom: 8rem;
    max-width: 457px;
    max-height: 7120px;
}

.form-label{
    padding-bottom: 20px;
}

.curriculo h3{
    font-size: 26px;
}

#div-anexar{
    float: left;
    width: 40%;
}

#div-informações{
    width: 60%;
    float: right;
    height: 100%;
    align-self: center;
    justify-content: center;
}

.test{
    overflow: auto;
    display: flex;
}

.label-file-input{
    border: none;
    background-color: #4a85af;
    color: white;
    padding: 0.4rem 1.2rem;
    margin: 12px 10px 15px 0;
    cursor: pointer;
}

input[type='file']{
    display: none;
}

.informações{
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    font-size: 14px!important;   
    margin:0!important;
    line-height: 115%;


}

#envio{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    border: none;
    background-color: var(--dark-blue);
    color: #fff;
    font-size: 20px;
    padding: 0.6rem 1.2rem;
    margin: 30px 0 15px 0;
    float: right;
    border-radius: 0;
}


.lateral{
    background-color: var(--dark-blue);
    height: 90.825%;
    width: 57%;
    float: right;
    margin-right: -400px;
    position: relative;
    flex: 1;
}

#imagem{
    position: absolute;
    top: 28%;
    left: -32%;
}

.principal{
    flex: 1;
}